<table>
  <tr>
  </tr>

<% @experiments.each do |feature| %>
  <tr>
    <td><%= link_to 'Show', feature %></td>
    <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>