<%- model_class = Organism -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>
</div>
<%= render :partial => 'form' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organisms_path, :class => 'btn' %>
                <a href="/wiki/<%= @organism.local_name.downcase %>" class="btn">Add/Edit Wiki page</a>
