<%- model_class = Organism -%>
<%- number_of_organisms = Organism.count -%>
<% unless number_of_organisms.zero? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> The database already carries <%= "#{number_of_organisms}" %> definition(s).
    Think carefully before adding another.
  </div>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
</div>
<%= render :partial => 'form' %>
