<div class="border-form-div">
  <h2>Sign in</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true %>
    <%= f.password_field :password %>
    <button type="submit" name="commit" class='btn btn-primary'>
      <i class="icon-user icon-white"></i>
      Sign in
    </button>
  <% end %>
  <%= render "devise/shared/links" %>
</div>