<div class="border-form-div">
  <h2>Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email, :autofocus => true, :placeholder => 'Email address', label: false, :required => true %>
    <%= f.input :password, :placeholder => 'Password', label: false, :required => true %>
    <p>
      <button type="submit" name="commit" class='btn btn-primary'>
        <i class="icon-user icon-white"></i>
        Sign in
      </button>
    </p>
  <% end %>
  <%= render "devise/shared/links" %>
</div>