body { background-color: #fefefe; color: #bbb; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
	color: black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: black; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
form {
		background-color: #faf0e6;
		padding: 5px;
		-moz-box-shadow: 3px 3px 3px #666;
		-webkit-box-shadow: 3px 3px 3px #666;
		box-shadow: 3px 3px 3px #666;
		border-width: 5px;
		border-style: solid;
		border-color: white;
}
p.show {
	background-color: #faf0e6;
	padding: 5px;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;

}

#nav_menu 
{
background-color:#6997d3;
-moz-box-shadow: 3px 3px 3px #666;
-webkit-box-shadow: 3px 3px 3px #666;
}

#nav_menu li 
{
font: 18px arial, sans-serif;
background: #6997d3;
/*height: 40px;
line-height: 20px; */
float: left;
padding-left:10px;
padding-right:10px;
padding-top:25px;
/* padding-bottom:20px; */
display: block;

}
#nav_menu a{
	color:white;
	text-decoration:none;
}

#nav_menu a:hover{
	text-decoration:underline;
}
#nav_menu
{
padding-bottom: 75px;
}

table {
	border-width: 2px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
}
table th {
	border-width: 5px;
	padding: 4px;
	border-style: solid;
	border-color: white;
	background-color: #ccc;


}
table td {
	border-width: 5px;
	padding: 4px;
	border-style: solid;
	border-color: white;
	background-color: #faf0e6;

}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
	-moz-border-radius: 10px;
	border-radius: 10px;

}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

