<div class="row padrow lightbluebg">

    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    <section id="section-services" class="section-page">

        <div class="head-section">

            <p class="lead centerit">GeeFu is a site for sharing and updating genomics data and information on ash and
                ash
                dieback. Through this site you can</p>
        </div>
        <br>


        <div class="row">
            <article class="span5">
                <ul>
                    <li><p>Browse and keyword search all the genomics data from
                        <a href="http://oadb.tsl.ac.uk">The Open Ash Dieback
                            Project</a></p></li>

                    <li><p>BLAST against the sequence databases in there</p></li>

                    <li><p>Read the growing wiki of contributed gene information.</p></li>
                </ul>
            </article>

            <article class="span5 offset1">
                <ul>

                    <li><p>Contribute new analyses and annotations of genes, proteins etc</p></li>

                    <li><p>Add to the wiki your expert knowledge</p></li>

                    <li><p>Modify and update the gene and protein models based</p></li>
                </ul>
            </article>


        </div>

        <br>

        <p>As you do this, you'll be given credit for every contribution you make, your details will be saved to our
            database and counted as a contributor on the project, if you choose to share.</p>


    </section>
</div>


<div class="row padrow bluebg">
    <p class="lead centerit">The GeeFu ecosystem</h2>

    <p class="centerit">GeeFu links closely with the OpenAshDieBack <a
            href="https://github.com/ash-dieback-crowdsource/data">GitHub
        repository</a>, all data in that is reflected here and _vice
        versa_ and it is this that manages our data tracking.</p>

    <p class="centerit">GeeFu mashes-up the excellent GMOD <a href="http://www.gmod.org/wiki/WebApollo">Web Appollo</a>
        tool to allow
        graphical
        annotation of genes and edits of gene models.</p>

    <p class="centerit">GeeFu incorporates the also excellent Ruby gem <a href="http://sequenceserver.com/">Sequence
        Server</a> as
        its
        BLAST
        server to allow sequence based search of the data.</p>

    <p class="centerit">GeeFu uses <a href="http://www.biodalliance.org">BioDalliance</a> as a viewing engine for its
        snapshots of
        the
        genome
        and in-place browsing.</p>

    <p class="centerit">As a Rails-app GeeFu provides a RESTful interface for programatic access of the data.</p>
</div>


<div class="row padrow">
    <h2 class="centerit">Getting help</h2>

    <p class="centerit">Any questions, please contact <a href="mailto:oadb@tsl.ac.uk">oadb@tsl.ac.uk</a></p>
</div>