<div class="jumbotron centerit">
<!--<h3>Welcome to</h3>-->
<h1>GeeFu</h1>

  <p class="lead">
    Use the links above to edit the data.
  </p>
</div>


<div id="example1">
    <div id="twitter" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="Tweet"></div>
    <div id="facebook" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="Like"></div>
    <div id="googleplus" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="+1"></div>
</div>

<script src="/public/javascript/sharrre.js"></script>

<%= render "pages/blerb" %>

