<div class="jumbotron centerit">
<!--<h3>Welcome to</h3>-->
<h1>GeeFu</h1>

    <div class="pw-widget pw-size-medium pw-counter-show">
        <a class="pw-button-facebook"></a>
        <a class="pw-button-twitter"></a>
        <a class="pw-button-email"></a>
        <a class="pw-button-post"></a>
    </div>
    <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=q55or11r57dqbmsqucel" type="text/javascript"></script>

  <p class="lead">
    Use the links above to edit the data.
  </p>
</div>
<%= render "pages/blerb" %>

