<p>Experiments that contain <%="#{@ssid}"%></p>

<% @experiments.each do |experiment| %>

<%exp = Experiment.find(experiment)%>

<p><a href="/experiments/<%= experiment %>">Experiment <%= "#{exp.name }" %> - <%= "#{exp.description}" %></a></p>
<%end%>


