@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

body {
}

.jumbotron {
text-align:center;
}

.jumbotron h1 {
font-family: 'Lily Script One', cursive;
padding: 12px;
text-align:center;
font-size: 80px;
}
