html {
	background-color: #95A5A6;
	height: 100%;
}

body {
	padding-top: 20px;
	background-color: #95A5A6;
}

.jumbotron {
	text-align: center;
}

.makeitwhite {
	background-color: white;
}

.jumbotron h1 {
	padding: 12px;
	text-align: center;
	font-size: 80px;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th
	{
	background-color: inherit;
}

/* [class^="icon-"],[class*=" icon-"] {
	vertical-align: inherit;
} */