html {
    background-color: #95A5A6;
    height: 100%;
}

body {
    padding-top: 20px;
    background-color: #95A5A6;
}

.well {
    background-color: #fff;
}

.row {
    margin-right: -20px;
}

.form-search .input-append .btn {
    height: 41px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.makeitwhite {
    background-color: white;
}

.padrow {
    padding: 45px 19px;
}

.orangetext {
    color: #F39C12;
}

.boxedin {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
}

.userAdmin {
    font-size: 1.5em;
    /* background-color: #BDC3C7; */
}

.jumbotron h1 {
    padding: 12px;
    font-size: 80px;
    line-height: 1em;
}

.greybg {
    background-color: #e6e6e6;
}

.bluebg {
    background-color: #4c5f70;
    color: #fff;
}

.lightbluebg {
    background-color: #548db5;
    color: #fff;
}

.redbg {
    background-color: #eb7260;
}

.centerit {
    text-align: center;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: inherit;
}

.fullscreen {
    /*Because some men just want to watch the world burn!*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
    background: inherit;
}

.checkbox input, .radio input {
opacity: 100;
filter: alpha(opacity=100);

}

/* [class^="icon-"],[class*=" icon-"] {
	vertical-align: inherit;
} */