@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

html {
	background-color: #1abc9c;
	height: 100%;
}

body {
	padding-top: 20px;
	background-color: #1abc9c;
}

.jumbotron {
	text-align: center;
}

.makeitwhite {
	background-color: white;
}

.jumbotron h1 {
	font-family: 'Lily Script One', cursive;
	padding: 12px;
	text-align: center;
	font-size: 80px;
}

[class^="icon-"],[class*=" icon-"] {
	vertical-align: inherit;
}