html {
	background-color: #95A5A6;
	height: 100%;
}

body {
	padding-top: 20px;
	background-color: #95A5A6;
}

.jumbotron {

}

.makeitwhite {
	background-color: white;
}

.boxedin {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}

.userAdmin {
	font-size: 1.5em;
	/* background-color: #BDC3C7; */
}

.jumbotron h1 {
	padding: 12px;
	font-size: 80px;
    line-height: 1em;
}

.centerit {
    text-align: center;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th
	{
	background-color: inherit;
}

/* [class^="icon-"],[class*=" icon-"] {
	vertical-align: inherit;
} */