<div class="navbar">
  <div class="navbar-inner">
    <ul id="nav_menu" class="nav">
      <li><a href="/organisms">Samples</a></li>
      <li><a href="/genomes">Genome Builds</a></li>
      <li><a href="/experiments">Annotation Experiments</a></li>
      <li><a href="/features">Features</a></li>
      <li><a href="/tools">Tools</a></li>
      <li><a href="/browse" target="_blank">Gee Fu Browse </a></li>
    </ul>
  </div>
</div>
